<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool</title>
</head>
<body>
<header>
    {% include "user_header.html" %}
</header>
<h2 align="center">Список файлов</h2>
<div>
<table>
    <a href="/upload/"><button>Добавить файл</button></a>
    <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% if not items %}
    <td>{{ message }}</td>
    {% else %}
    {% for item in items %}
    <td> {{ item.file }}</td>
    <td> {{ item.state }}</td>
    {% endfor %}
    {% endif %}
</table>
</div>
</body>
</html>